<div class="container-fluid">
  <div class="separator mb-3"></div>
  <div class="row">
    <div class="text-center col-12">
      <h4>Olá, <b class="text-primary">Matheus Pacheco da Silva !</b></h4>
      <h4> Bem vindo(a) ao editor de PDF do QualiVendas</h4>
    </div>
  </div>
  <div class="separator mb-5"></div>
  <div aling="center" class="row">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card mb-3" style="cursor: pointer">
        <div class="card-body">
          <h4 class="card-title">Solicitar novo template</h4>
          <div class="separator mb-2"></div>
          <p class="card-text">Aqui você pode subir novos templates para serem tagueados.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card mb-3" style="cursor: pointer">
        <div class="card-body">
          <h4 class="card-title">Editar template</h4>
          <div class="separator mb-2"></div>
          <p class="card-text">Aqui você pode editar seus templates.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card mb-3" style="cursor: pointer">
        <div class="card-body">
          <h4 class="card-title">Validação de templates</h4>
          <div class="separator mb-2"></div>
          <p class="card-text">Aqui onde estão todos os templates e a situação de validação.</p>
        </div>
      </div>
    </div>

  </div>

</div>
