.header {
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.body {
  background-color: #f8f8f8;
  margin-top: 6px;
  height: 100%;
  width: 100%;
}

.header img {
    max-width: 200px;
    max-height:250px;
    width: auto;
    height: auto;
}
